* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #181818;
    padding: 10px 24px;
}

#navbar {
    display: flex;
    padding: 14px 10px;
    justify-content: space-between;
    align-items: center;
    height: 62px;
}

.nav-links {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 24px;
}


.links a {
    color: #efeeee;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    font-family: 'IBM Plex Sans', sans-serif;
}

.btn-contact {
    background-color: #efeeee;
    padding: 9px 18px;
    border-radius: 30px;
    border: none;
}

.btn-contact a {
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    font-family: 'IBM Plex Sans', sans-serif;
}

.main_frame {
    position: absolute;
    top: 70px;
    left: 24px;
    bottom: 24px;
    width: 1392px;
    height: 2600px;
    border-radius: 20px;
    background-color: #000;
    background-image: url("Frame 2.png");
    background-size: cover;
    background-position: center top;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-intro {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.24px;
    color: white;
    margin-top: 190px;
}

.hero-title {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 70px;
    font-weight: 800;
    line-height: normal;
    color: white;
    text-align: center;
    margin: 16px 0;
}

.hero-subtitle {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.24px;
    color: white;
}

.hero-help {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    color: #a0a0a0;
    margin-top: 110px;
    text-align: center;
}

.aboutme-header {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 100px;
    font-weight: 800;
    line-height: normal;
    color: white;
    text-align: center;
    margin-top: 110px
}

.about-title {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 70px;
    font-weight: 800;
    line-height: normal;
    color: white;
    text-align: center;
    margin-top: 110px
}

.about-section {
    position: absolute;
    top: 843px;
    left: 100px;
    width: 1205px;
    height: 550px;
    background: rgba(217, 217, 217, 0.1);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding: 25px 25px;
}

.about-image {
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 15px;
}

.about-content {
    flex: 1;
    color: white;
    font-family: 'IBM Plex Sans', sans-serif;
}


.about-text {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 32px;
    margin-right: 36px;
    color: #efeeee;
}

.about-btn {
    background-color: #efeeee;
    color: black;
    padding: 9px 18px;
    border-radius: 30px;
    border: none;
    font-weight: 600;
    font-size: 16px;
    font-family: 'IBM Plex Sans', sans-serif;
}


.projects-title {
    position: absolute;
    top: 1511px;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
    font-family: 'Brush Script MT', cursive;
    font-size: 80px;
    font-weight: 500;
}

.projects-grid {
    position: absolute;
    top: 1633px;
    left: 100px;
    width: 1205px;
    height: 608px;
}

.project-card {
    position: absolute;
    background: rgba(217, 217, 217, 0.1);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    padding: 10px
}

.project-info {
    flex: 1;
    padding: 24px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-info h3 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 12px;
}

.project-info p {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #efeeee;
}

.project-card-1 {
    top: 0;
    left: 0;
    width: 671px;
    height: 292px;
}

.project-img-1 {
    width: 350px;
    height: 100%;
    border-radius: 10px
}

.project-card-2 {
    top: 0;
    left: 695px;
    width: 510px;
    height: 292px;
}

.project-img-2 {
    width: 200px;
    height: 100%;
    border-radius: 10px
}

.project-card-3 {
    top: 316px;
    left: 0;
    width: 467px;
    height: 292px;
}

.project-img-3 {
    width: 200px;
    height: 100%;
    border-radius: 10px
}

.project-card-4 {
    top: 316px;
    left: 491px;
    width: 714px;
    height: 292px;
}

.project-img-4 {
    width: 400px;
    height: 100%;
    border-radius: 10px
}

.separator-line {
    position: absolute;
    top: 2300px;
    left: 100px;
    width: 1205px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
}

.contact {
    position: absolute;
    top: 2350px;
    left: 100px;
    width: 1205px;
    color: white;
    font-family: 'IBM Plex Sans', sans-serif;
}

.contact h2 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 24px;
}

.contact .contact-links {
    display: flex;
    gap: 12px;
    font-size: 20px;
    align-items: center;
    margin-bottom: 12px;
}

.contact a {
    color: white;
    text-decoration: none;
}

.contact .divider {
    color: #7a7a7a;
}
